body {
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 128, 128));

}

.logo {
    /* do it in centre */
    display: block;
    margin: auto;
    width: 100px;
    height: 80px;
}


h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    /* a lot of message scroll bar */
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    /* target to all messages in container */
    background-color: white;
    width: 24%;
    padding: 10px;
    margin: 17px 3px;
    border: 2px solid black;
    border-radius: 10px;
}

/* for messages */
.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    /* margin: auto; */
    text-align: center;
    max-width: 1085px;
    width: 100%;
}

#messageInp {
    /* width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px; */
    /* float: right; */
    /* float: right; */
    /* width: 50%; */
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin-left: -354px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: -186px;
    font-size: larger;
    font-family: cursive;
    /* margin: auto; */
    margin: auto;
    margin-right: 3px;
    margin-left: 211px;

}

.btn {
    width: 8%;
    float: right;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: larger;
    font-family: cursive;
    /* MARGIN-RIGHT: 98px; */
}
